body {
    background-image: 
    url(kepek/1302754.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: auto;
    width: 100%;
    margin: 0%;
}