body {
    background-image: 
    url(kepek/1302754.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: auto;
    width: 100%;
    margin: 0%;
}

img {
    margin-top: 2%;
    margin-bottom: 4%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: auto;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5), 0 12px 40px 0 rgba(0, 0, 0, 0.5);
}

.page p{
    font-size: 30px;
    margin-left: 4%;
    padding-left: 1%;
    padding-right: 2%;
    font-weight: bold;
    background-color:rgba(255, 255, 255, 0.1);
    border-left: 6px solid black;
}


.cimek {
    margin-left: 4%;
    margin-right: 2%;
    font-size: 45px;
    font-weight: bold;
    font-family: chapbook;
}

.OwO {
    font-size: 40px;
    padding-left: 3%;
    padding-right: 2%;
    font-weight: bold;
    background-color:rgba(255, 255, 255, 0.1);
}

table {
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
    border-collapse: collapse;
    margin-bottom: 10%;
    width: 80%;
}

th {
    font-size: 40px;
    font-family: odalisque;
    margin-left: 20px;
    margin-right: 5%;
    border-bottom: 4px outset black;
    width: 7%;
}

td {
    text-align: center;
    border-left: 3px dashed black;
    border-right: 3px dashed black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.lel{
    font-weight: bold;
}

@font-face {
    font-family: freakshow;
    src: url(fonts/Freakshow.otf);
}
  @font-face {
    font-family: antique;
    src: url(fonts/Antique\ Book\ Cover.otf);
}
@font-face {
    font-family: odalisque;
    src: url(fonts/OdalisqueNF.otf);
}
@font-face {
    font-family: chapbook;
    src: url(fonts/chapbook.regular.otf);
}
@font-face {
    font-family: requiem;
    src: url(fonts/requiem.regular.ttf);
}
