body {
    background-image: url(kepek/1302754.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
    margin: 0%;
}